* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(7, 23, 25);
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    font-size: 60px;
    color: rgb(214, 13, 13);
    background-color: rgba(30, 69, 82, 0.406);
    text-decoration: underline;
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;

}